/* Media response for mobile or smaller devices */

@media screen and (max-width: 576px) {
  .nav-container, .gamer, .game-boxes,
  .menus {
    flex-direction: column;
  }
  .banner {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .banner-main-image {
    width: 400px;
    height: 350px;
  }
  .banner-button-2 {
    margin: 10px 0;
  }
  .gamer-content, .gamer-image  {
    width: 90%;
    text-align: center;
  }
  .gamer-motto{
    margin-bottom: 50px;
  }
  .online-games-description{
    width: 80%;
    margin: 10px auto;
  }
  .box-description{
    width: 70%;
    margin: 10px auto ;
  }
}
