/* Media response for mobile or smaller devices */

@media screen and (max-width: 576px) {
  .nav-container,
  .gamer,
  .game-boxes,
  .menus {
    flex-direction: column;
  }
  .banner,
  .play-online {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .banner-main-image {
    width: 400px;
    height: 350px;
  }
  .banner-button-2 {
    margin: 10px 0;
  }
  .gamer-content,
  .gamer-image {
    width: 90%;
    text-align: center;
  }
  .gamer-motto {
    margin-bottom: 50px;
  }
  .online-games-description {
    width: 80%;
    margin: 10px auto;
  }
  .box-description {
    width: 70%;
    margin: 10px auto;
  }
  .instant-play,
  .career {
    flex-direction: column;
    width: 100%;
  }
  .instant-play-image-container,
  .play-online-image-container,
  .career-content {
    width: 100%;
  }
  .instant-play-content,
  .play-online-content {
    width: 100%;
    text-align: center;
  }
  .play-small-image img {
    left: 4px;
    bottom: 100px;
  }
  .play-small-image-2 img {
    height: 150px;
    width: 120px;
    position: relative;
    left: 10px;
    bottom: 90px;
  }
  .game-list {
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .game-name {
    font-size: 0.6rem;
  }
  .important-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .social-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 60px;
  }
  .more-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .banner,
  .play-online {
    flex-direction: column-reverse;
    gap: 20px;
  }
  .gamer,
  .instant-play {
    flex-direction: column;
    gap: 30px;
  }
  .gamer-content,
  .instant-play-content,
  .play-online-content {
    text-align: center;
    width: 80%;
  }
  .game-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .box-description {
    margin-left: 30px;
  }
}
