/* Shared styles */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
nav {
  padding: 20px 0;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container {
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.logo {
  width: 40px;
  height: 25px;
  margin-right: 20px;
}
.logo-container {
  display: flex;
}
.menus {
  display: flex;
  align-items: center;
  gap: 30px;
}
.menus a {
  color: rgba(60, 53, 79, 1);
  text-decoration: none;
}
.button {
  padding: 10px 24px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  border: 0;
}
.fa-youtube {
  width: 30px;
  height: 20px;
  color: red;
}

/* Styles for banner section */

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.banner-content {
  width: 50%;
  height: 100%;
  padding: 50px;
  text-align: left;
  background-image: url("../images/Group\ 14.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-content h2 {
  color: #0b0223;
  font-size: 2rem;
  font-weight: 600;
}
.banner-tittle {
  font-size: 3rem;
  font-weight: 800;
  margin: 10px 0;
  background-image: linear-gradient(to bottom, #f948b2, #8758f1);
  color: transparent;
  -webkit-background-clip: text;
}
.banner-description,
.gamer-description,
.online-games-description,
.instant-play-description,
.play-online-description {
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 20px 0;
}
.banner-image {
  max-height: 400px;
}
.banner-main-image {
  width: 450px;
  height: 350px;
}
.button-common {
  padding: 10px 30px;
  border-radius: 20px;
  background: #ff42a5;
  color: white;
  border: 0;
}
.banner-button-2 {
  padding: 10px 25px;
  margin: 10px 10px 0;
  border-radius: 20px;
  background: #4ec5f7;
  color: white;
  border: 0;
}

/* Gamer section styles */

.gamer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}
.gamer-image {
  width: 40%;
}
.gamer-image img {
  width: 100%;
  width: 100%;
}
.gamer-tittle {
  font-size: 2rem;
  font-weight: 800;
  margin: 10px 0;
  background-image: linear-gradient(to bottom, #f948b2, #8758f1);
  color: transparent;
  -webkit-background-clip: text;
}
.gamer-content {
  width: 40%;
  text-align: right;
}
.gamer-motto {
  color: #534c64;
  font-size: 1.5rem;
  font-weight: 700;
}

/* Online games style */

.online-games {
  text-align: center;
  margin: 50px 0;
}
.online-games-tittle,
.instant-play-tittle,
.play-online-tittle {
  color: #0b0223;
  font-size: 2rem;
  font-weight: 700;
}
.game-boxes {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 50px 0;
}
.game-image {
  width: 300px;
  height: 400px;
}
.box-description {
  width: 280px;
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 20px 0;
  text-align: center;
}
.video-play-icon {
  font-size: 50px;
  position: relative;
  bottom: 300px;
}
.mini-guardians:hover {
  filter: brightness(40%);
  border: 5px solid black;
  border-radius: 20px;
}
.video-icon-description {
  color: #ff42a5;
  font-weight: 600;
  position: relative;
  bottom: 300px;
}
.instant-play-content {
  text-align: right;
}

/* Play section styles */

.instant-play,
.play-online {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.instant-play-content {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.instant-play-image-container,
.play-online-image-container {
  width: 50%;
}
.play-main-image {
  display: flex;
  justify-content: center;
}
.play-main-image img {
  width: 70%;
  height: 80%;
}
.play-small-image img {
  height: 180px;
  width: 150px;
  position: relative;
  left: 15px;
  bottom: 100px;
}
.play-small-image-2 {
  display: flex;
  justify-content: right;
}
.play-small-image-2 img {
  height: 180px;
  width: 150px;
  position: relative;
  right: 15px;
  bottom: 90px;
}
.play-online-content {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

/* career section styles */

.career {
  background-image: linear-gradient(to right, #ff42a5, rgb(230, 64, 150));
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px 0;
  padding: 40px 0;
}
.career-content {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.career-tittle {
  color: #fff;
  font-size: 2.8rem;
  font-weight: 700;
  margin: 10px 0;
}
.career-description {
  margin: 30px 0;
  color: #fff;
  font-size: 0.8rem;
}
.career-content div {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}
.career-content div .workplace {
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.position ul,
.location ul {
  list-style: none;
}
.workplace .position {
  text-align: left;
}
.workplace .location {
  text-align: right;
}
.career-button {
  color: #ff42a5;
  padding: 10px 25px;
  border-radius: 20px;
  border: 0;
}
.career-image {
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/Group\ 14.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.career-image img {
  width: 400px;
  height: 450px;
}

/* Game list section */

.game-list {
  width: 80%;
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}
.single-game {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
}
.single-game:hover{
  border: 2px solid black;
  border-radius: 20px;
  color: #f948b2;
}
.game-icon {
  width: 40px;
  height: 40px;
}

/* Footer section styles */

footer {
  background-color: #0b0223;
  min-height: 400px;
  text-align: center;
  padding-bottom:100px ;
}
.footer-logo-container {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 100px 0px 40px;
}
.important-links{
  display: flex;
  justify-content: center;
  gap: 30px;
}
.important-links a, .more-links a, .copyright p{
  text-decoration: none;
  color: white;
  font-size: .8rem;
}
.social-links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 30px 0px 50px;
}
.social-button{
  width: 30px;
  height: 30px;
}
.social-icon{
  padding: 0;
  font-size: 30px;
  color:blue;
}
.more-links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.copyright{
  margin: 20px 0px;
  
}