/* Shared styles */

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
nav {
  padding: 20px 0;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container {
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.logo {
  width: 40px;
  height: 25px;
  margin-right: 20px;
}
.logo-container {
  display: flex;
}
.menus {
  display: flex;
  align-items: center;
  gap: 30px;
}
.menus a {
  color: rgba(60, 53, 79, 1);
  text-decoration: none;
}
.button {
  padding: 10px 24px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  border: 0;
}
.fa-youtube {
  width: 30px;
  height: 20px;
  color: red;
}

/* Styles for banner section */

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.banner-content {
  width: 50%;
  height: 100%;
  padding: 50px;
  text-align: left;
  background-image: url("../images/Group\ 14.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-content h2 {
  color: #0b0223;
  font-size: 2rem;
  font-weight: 600;
}
.banner-tittle {
  font-size: 3rem;
  font-weight: 800;
  margin: 10px 0;
  background-image: linear-gradient(to bottom, #f948b2, #8758f1);
  color: transparent;
  -webkit-background-clip: text;
}
.banner-description,
.gamer-description {
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 15px 0;
}
.banner-image {
  max-height: 400px;
}
.banner-main-image {
  width: 450px;
  height: 350px;
}
.button-common {
  padding: 10px 30px;
  border-radius: 20px;
  background: #ff42a5;
  color: white;
  border: 0;
}
.banner-button-2 {
  padding: 10px 25px;
  margin: 10px 10px 0;
  border-radius: 20px;
  background: #4ec5f7;
  color: white;
  border: 0;
}

/* Gamer section styles */

.gamer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}
.gamer-image {
  width: 40%;
}
.gamer-image img {
  width: 100%;
  width: 100%;
}
.gamer-tittle {
  font-size: 2rem;
  font-weight: 800;
  margin: 10px 0;
  background-image: linear-gradient(to bottom, #f948b2, #8758f1);
  color: transparent;
  -webkit-background-clip: text;
}
.gamer-content {
  width: 40%;
  text-align: right;
}
.gamer-moto {
  color: #534c64;
  font-size: 1.5rem;
  font-weight: 700;
}
